{% extends 'base.html' %}
{% block content %}
    <h2>Add Student Record</h2>

    <form method="POST" class="form-box">
        <label>Name
            <input type="text" name="name" required>
        </label>

        <label>Roll No
            <input type="text" name="roll_no" required>
        </label>

        <label>Physics Marks
            <input type="number" step="0.01" name="physics" required>
        </label>

        <label>Chemistry Marks
            <input type="number" step="0.01" name="chemistry" required>
        </label>

        <label>Maths Marks
            <input type="number" step="0.01" name="maths" required>
        </label>

        <label>English Marks
            <input type="number" step="0.01" name="english" required>
        </label>

        <label>IP Marks
            <input type="number" step="0.01" name="ip" required>
        </label>

        <input type="submit" value="Add Student">
    </form>
{% endblock %}
