{% extends 'base.html' %}
{% block content %}
    <h2>Search Student</h2>

    <form method="POST" class="search-box">
        <label>Enter Name or Roll No
            <input type="text" name="query" required>
        </label>
        <input type="submit" value="Search">
    </form>

    <!-- show results if any -->
    {% if students %}
    <div class="table-box">
        <table>
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Maths</th>
                <th>English</th>
                <th>IP</th>
                <th>Total</th>
                <th>Percentage</th>
                <th>Grade</th>
            </tr>

            {% for s in students %}
            <tr>
                <td>{{ s.Name }}</td>
                <td>{{ s.RollNo }}</td>
                <td>{{ s.Physics }}</td>
                <td>{{ s.Chemistry }}</td>
                <td>{{ s.Maths }}</td>
                <td>{{ s.English }}</td>
                <td>{{ s.IP }}</td>
                <td>{{ s.Total }}</td>
                <td>{{ s.Percentage }}</td>
                <td>{{ s.Grade }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}
