{% extends 'base.html' %}
{% block content %}
    <h2>All Students</h2>
    <table border="1" cellpadding="6">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            {% for subject in subjects %}
            <th>{{ subject }}</th>
            {% endfor %}
            <th>Total</th>
            <th>Percentage</th>
            <th>Grade</th>
        </tr>
        <!-- loop through each student row -->
        {% for s in students %}
        <tr>
            <td>{{ s.Name }}</td>
            <td>{{ s.RollNo }}</td>
            {% for subject in subjects %}
            <td>{{ s[subject] }}</td>
            {% endfor %}
            <td>{{ s.Total }}</td>
            <td>{{ s.Percentage }}</td>
            <td>{{ s.Grade }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
